<div class="container">

  <div class="header-form">
    <h1>Arkei</h1>
  </div>

  <h2 class="subtitle">Registrarse</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">


    <div class="email">
        <label for="email">Correo Electrónico <i class="fa fa-play check" *ngIf="registerForm.controls.email.valid &&
                                                                                 registerForm.controls.email.dirty" ></i>
                                              <i class="fa fa-stop uncheck" *ngIf="registerForm.controls.email.invalid &&
                                                                                 registerForm.controls.email.touched" ></i>                                                                                   
        </label>
        <input type="text" id="email" formControlName="email">
    </div>

    <div class="password">
        <label for="password">Contraseña <i class="fa fa-play check" *ngIf="registerForm.controls.password.valid &&
                                                                            registerForm.controls.password.dirty  " ></i>
                                         <i class="fa fa-stop uncheck" *ngIf="registerForm.controls.password.invalid &&
                                                                            registerForm.controls.password.touched" ></i>                                                                          
        </label>
        <input type="password" id="password" formControlName="password">
    </div>

    <div class="cont-btn">
      <p>Si dispones de una cuenta <a routerLink="/login">Inicia sesión</a></p>
      <button type="submit" [disabled]="!registerForm.valid">REGISTRAR</button>
    </div>

  </form>
</div>